PUBLIC_GTM_ID=

PUBLIC_GA4_ENABLED=
PUBLIC_GA4_MEASUREMENT_ID=
PUBLIC_GA4_ACCOUNT_ID=
PUBLIC_GA4_PROPERTY_ID=
PUBLIC_GA4_STREAM_ID=
PUBLIC_GA4_STREAM_DOMAIN=

GA4_ENABLED=false
GA4_PROJECT_ID=
GA4_SERVICE_ACCOUNT_EMAIL=
GA4_CREDENTIALS_DIR=
GA4_CREDENTIAL_FILE=
GA4_CREDENTIAL_JSON=
GA4_CREDENTIAL_JSON_B64=
GA4_ADMIN_CREDENTIAL_FILE=
GA4_ADMIN_CREDENTIAL_JSON=
GA4_ADMIN_CREDENTIAL_JSON_B64=
GA4_ADMIN_ROLE=
GA4_ADMIN_AUTO_GCLOUD_AUTH=
GA4_AUTO_GCLOUD_AUTH=
GA4_AUTO_GRANT_SERVICE_ACCOUNT=
